h5 {
  font-size: 14px;
  color: #ff55bb;
}
.text {
  margin-top: 15px;
  margin-bottom: 15px;
}
.member {
  margin: 10px
}
.rank {
  font-size: 14px;
  color: #ff55bb;
}
.picture .text .rank {
  padding: 5px;
  margin: 5px;
}
.description {
  font-size: 12px;
  position: relative;
}
.link-group {
  position: absolute;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.iglink {
  background-color: #007bff;
  width: 25px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.fblink {
  background-color: #007bff;
  width: 25px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.twlink {
  background-color: #007bff;
  width: 25px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.inlink {
  background-color: #007bff;
  width: 25px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.golink {
  background-color: #007bff;
  width: 25px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
a {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin: 5px;
  text-decoration: none;
  font-weight: bold;
}
.fblink:hover {
  background-color: red;
}
.twlink:hover {
  background-color: red;
}
.inlink:hover {
  background-color: red;
}
.iglink:hover {
  background-color: red;
}
.golink:hover {
  background-color: red;
}
